<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>@ViewData["Title"] - وبلاگ</title>

    <partial name="_LayoutStylePartial" />

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- START Main Header -->
        <partial name="_LayoutHeaderPartial" />
        <!-- END Main Header -->

        @RenderBody()

        <!-- START Main Footer -->
        <partial name="_LayoutFooterPartial" />
        <!-- END Main Footer -->

    </div>

    <partial name="_LayoutScriptPartial" />

    @await RenderSectionAsync("Styles", required: false)
</body>
</html>