<button class="scroll-top scroll-to-target" data-target="html"><i class="fas fa-chevron-up"></i></button>

<script src="~/assets/js/jquery-3.6.0.min.js"></script>
<script src="~/assets/js/jquery.magnific-popup.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/leaflet.min.js"></script>
<script src="~/assets/js/slick.min.js"></script>
             
<script src="~/assets/js/script.js" asp-append-version="true"></script>
