<footer class="main-footer pt-120 rpt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="widget logo-widget">
                    <a href="index.html"><img src="/assets/images/logo.png" alt="Logo"></a>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="widget menu-widget">
                    <h6 class="widget-title">Company</h6>
                    <ul>
                        <li><a href="about.html">About</a></li>
                        <li><a href="#">Press Relese</a></li>
                        <li><a href="#">Reviews</a></li>
                        <li><a href="#">Clients</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="widget menu-widget">
                    <h6 class="widget-title">Features</h6>
                    <ul>
                        <li><a href="#">Quick Access</a></li>
                        <li><a href="#">Secure Payment</a></li>
                        <li><a href="#">24/7 Support</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="widget menu-widget">
                    <h6 class="widget-title">Download</h6>
                    <ul>
                        <li><a href="#">Andriod</a></li>
                        <li><a href="#">IOS App</a></li>
                        <li><a href="#">Mobile Verstion</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="widget subscribe-widget">
                    <h6 class="widget-title">NewsLetter</h6>
                    <form action="#" method="post" name="subscribe-form" class="subscribe-form">
                        <div class="form-group">
                            <input type="email" name="email-address" value="" class="form-control" placeholder="Enter your email" required="">
                            <button type="submit" class="subscribe-submit">Send Us Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright Area-->
    <div class="copyright-area mt-25">
        <div class="container">
            <div class="copyright-inner">
                <div class="copyright-wrap order-2 order-md-1">
                    <p>&copy; Copyright 2021 bt Vahid</p>
                </div>
                <!-- footer menu -->
                <ul class="footer-menu order-1 order-md-2">
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>