@using WebApplication1.Values
@model WebApplication1.Areas.Admin.Models.Blogs.BlogCreateOrEditeModel

@{
    ViewData["Title"] = "Create";
    Layout = "_LayoutAdmin";
}

<div class="container tm-mt-big tm-mb-big">
    <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Add Product</h2>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <form asp-action="Create" method="post" enctype="multipart/form-data" asp-antiforgery="true">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12">
                                    <div class="form-group mb-3">
                                        <label asp-for="Name"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label asp-for="ShortDescription"></label>
                                        <input asp-for="ShortDescription" class="form-control" />
                                        <span asp-validation-for="ShortDescription" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="Description"></label>
                                        <textarea asp-for="Description" class="form-control"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12">
                                    <div class="form-group mb-3">
                                        <label asp-for="UniqeUrl"></label>
                                        <input asp-for="UniqeUrl" class="form-control" />
                                        <span asp-validation-for="UniqeUrl" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="GroupId"></label>
                                        <select asp-for="GroupId" class="custom-select" asp-items="ViewBag.GroupId">
                                            <option selected>Select category</option>
                                        </select>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="ImageFile" class="form-control-file"></label>
                                        <input asp-for="ImageFile" class="form-control-file text-white" />
                                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                                        <img id="imgsPreview" src="@(PathTools.PathDefault)" class="img-fluid img-thumbnail" height="50" alt="" />
                                    </div>
                                </div>
                                <div class="form-group col-12">
                                    <input type="submit" value="Create" class="btn btn-primary btn-block text-uppercase" />
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(() => {
            $("#ImageFile").change(function () {
                const file = this.files[0];
                console.log(file);
                if (file) {
                    let reader = new FileReader();
                    reader.onload = function (event) {
                        console.log(event.target.result);
                        $("#imgsPreview").attr("src", event.target.result);
                    }
                    reader.readAsDataURL(file);
                }
            });
        });
    </script>
}


